h3 {
  padding: 50px 0 0 70px;
  color: white;
  text-shadow: 0 0 10px rgb(124, 110, 202), 0 0 20px rgb(39, 39, 135),
    0 0 30px rgb(39, 39, 135);
  font-size: 30px;
}
.contactText {
  color: darkslateblue;
  font-size: 25px;
  margin-left: 15px;
  margin-bottom: 5px;
}
.contacts {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.contactBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}
.footerRights {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: darkslateblue;
  margin-top: 70px;
  font-weight: 500;
}
.footer {
  height: 300px;
  background-color: thistle;
}
@media (max-width: 654px) {
  .footer {
    height: 400px;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  .footerRights {
    margin-left: 20%;
    margin-right: 20%;
  }
}
@media (max-width: 498px) {
  .footer {
    height: 500px;
  }
}
@media (max-width: 405px) {
  .footer {
    height: 600px;
  }
  .contactBlock {
    flex-direction: column;
    margin-top: 10px;
  }
  .contactText {
    margin-top: 10px;
    margin-right: 60px;
  }
}
@media (max-width: 1000px) {
  .contactBlocks {
  }
}
